@import "../../assets/colors";
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: hsl(257, 7%, 93%);
}

.search {
  width: 80%;
  height: 130px;
  background: $Dark-Violet url("../../assets/images/bg-shorten-desktop.svg") top
    center repeat;
  border-radius: 6px;
  // margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  &__input {
    width: 70%;
    height: 30px;
    color: $Grayish-Violet;
    font-size: 14px;
    border-radius: 5px;
    padding: 5px;
    border: none;
  }
  &__button {
    height: 40px;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    padding: 0 20px;
    background-color: $Cyan;
    font-weight: 700;
  }
}

.item {
  width: 77%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 700;
  padding: 0 10px;

  &__name {
    color: $Dark-Violet;
    text-align: left;
    word-break: break-all;
  }
  &__row {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    justify-content: space-between;
    width: 100%;
  }
  &__link {
    color: $Cyan;
    text-align: right;
    word-break: break-all;
  }
  &__copy {
    background-color: $Cyan;
    color: white;
    border: 0;
    font-size: 12px;
    font-weight: 700;
    padding: 0 20px;
    height: 30px;
    border-radius: 5px;
  }
  &__copy:active {
    background-color: hsl(180, 66%, 78%);
  }
}

@media (max-width: 590px) {
  .search {
    flex-direction: column;
    &__input {
      width: 76%;
      padding: 7px;
    }

    &__button {
      width: 80%;
    }
  }
}

@media (max-width: 613px) {
  .item {
    font-size: 12px;
    font-weight: 400;
    padding: 8px;

    &__row {
      padding-right: 5px;
      flex-direction: column;
    }
    &__link,
    &__name {
      text-align: left;
      margin: 5px 0 0 0;
    }
    &__copy {
      font-size: 10px;
      padding: 0 10px;
    }
  }
}
