@import url("https://fonts.googleapis.com/css?family=Poppins:500,700");
.Description {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  text-align: left;
  font-family: "Poppins", sans-serif;
  padding-bottom: 30px;

  div {
    grid-column: 2/7;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title {
    color: hsl(255, 11%, 22%);
    font-weight: 700;
    font-size: 38px;
    margin: 0;
  }
  &__text {
    color: hsl(257, 7%, 63%);
    font-size: 14px;
    margin-top: 0;
  }
  &__button {
    background-color: hsl(180, 66%, 49%);
    padding: 10px 15px;
    border: 1px hsl(180, 66%, 59%);
    color: white;
    font-size: 14px;
    border-radius: 20px;
    font-weight: 700;
    height: 40px;
    width: max-content;
  }

  &__img {
    grid-column: 8/-1;
    width: 100%;
  }
}

@media (max-width: 588px) {
  .Description {
    grid-template-rows: repeat(2, auto);
    row-gap: 20px;
    text-align: center;

    div {
      grid-column: 2/12;
      grid-row: 2/3;
      align-items: center;
    }
  }
  .Description__img {
    grid-column: 2/-1;
    grid-row: 1/2;
    // width: 130%;
  }
  .Description__button {
    padding: 10px 25px;
  }
}
