@import "../../assets/colors";
.footer {
  background-color: $Dark-Blue;
  color: white;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 100%;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  text-align: left;
  padding: 3% 20px;

  &__name {
    grid-column: 2/3;
    margin-top: 0;
    font-size: 28px;
    font-weight: 700;
  }
  &__features {
    grid-column: 4/5;
  }

  &__title {
    margin-top: 0;
    color: white;
    font-weight: 700;
    font-size: 14px;
  }
  &__link {
    margin-top: 0;
    color: $Grayish-Violet;
    font-weight: 400;
    cursor: pointer;
    font-size: 13px;
  }
  &__link:hover {
    color: hsl(180, 66%, 59%);
  }

  &__icons {
    width: max-content;
    grid-column: 8/9;

    svg {
      fill: white;
      padding: 0 7px;
    }
  }
  svg:hover {
    fill: hsl(180, 66%, 59%);
  }
}

@media (max-width: 667px) {
  .footer {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-row-gap: 30px;
    &__name,
    &__features,
    &__resources,
    &__company {
      grid-column: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__icons {
      grid-column: 1;
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: center;
      padding-bottom: 20px;
    }
  }
}
