@import "../../assets/colors";
.box-container {
  position: relative;
  width: 25%;
  text-align: left;
}

.box {
  padding: 20px;
  &__circle {
    position: absolute;
    top: -25px;
    left: 20px;
    background-color: hsl(257, 27%, 26%);
    width: 55px;
    height: 55px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__img {
    width: 30px;
    margin-bottom: 5px;
  }
  &__body {
    background-color: white;
    padding: 30px 15px 15px 15px;

    &__title {
      font-size: 16px;
      font-weight: 700;
      color: $Dark-Violet;
      margin-bottom: 0;
    }
    &__desc {
      font-size: 12px;
      font-weight: 400;
      color: $Grayish-Violet;
    }
  }
}

.box2 {
  margin-top: 30px;
}
.box3 {
  margin-top: 60px;
}

@media (max-width: 560px) {
  .box3,
  .box2 {
    margin-top: 0;
  }
  .box-container {
    position: relative;
    width: 70%;
    display: flex;
    align-self: center;
    text-align: center;
  }
  .box__circle {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
}
